<div>
  <div>
    <h2 style="font-weight:bold">{{title}}</h2>
  </div>
  <fieldset>
    <legend><h3>{{gestionCompte.mode === 'consultation'?'Information':'Modification'}} du compte</h3></legend>
    <div style="margin-left:5%;margin-bottom:2%;" *ngIf="gestionCompte.mode === 'consultation'; else ModifBlock">
      <mat-list>
        <mat-list-item class="list-item">
          <label>Intitule:</label>
          <span>{{vet.nom.toUpperCase()}}</span>
        </mat-list-item>
        <mat-list-item class="list-item">
          <label>Mail de l'entreprise:</label>
          <span>{{vet.emailsociete.toUpperCase()}}</span>
        </mat-list-item>
        <mat-list-item class="list-item">
          <label>Indentification:</label>
          <span> {{vet.numsociete}}</span>
        </mat-list-item>
        <mat-list-item class="list-item">
          <label>Coordonnée bancaire:</label>
        </mat-list-item>
      </mat-list>
      <mat-list *ngIf="coord_banq; else noCoordBanq" style="margin-left:5%">
        <mat-list-item  class="list-item">
          <label>Intitule:</label>
          <span>{{coord_banq.intitule}}</span>
        </mat-list-item>
        <mat-list-item  class="list-item">
          <label>IBAN:</label>
          <span>{{coord_banq.iban}}</span>
        </mat-list-item>
        <mat-list-item  class="list-item">
          <label>BIC:</label>
          <span>{{coord_banq.bic}}</span>
        </mat-list-item>
      </mat-list>
      <ng-template #noCoordBanq>
        <p>Pas de coordonnée enregistrer</p>
      </ng-template>
      <div *ngIf="user.data.admin">
        <span class="p-buttonset">
          <button pButton class="p-button-secondary"type="button"
            label="Modifier" icon="pi pi-pencil" (click)="gestionCompte.mode='modification'"></button>
          <button pButton class="p-button-secondary" type="button"
          (click)="suppression()"
            label="Supprimer" icon="pi pi-trash"
            pTooltip="Il faut desactiver ou aller au bout de son abonnement pour supprimer le compte"
            [disabled]="status()!=='Inactif'"></button>
        </span>
      </div>
    </div>
    <ng-template #ModifBlock>
      <home-compte-modif [vet]="vet" (modeEmit)="gestionCompte.mode = $event"></home-compte-modif>
    </ng-template>
  </fieldset>
  <fieldset>
    <legend><h3>Abonnement</h3></legend>
    <div style="margin-left:5%;margin-bottom:2%;">
      <mat-list>
        <mat-list-item  class="list-item">
          <label> Frequence de paiement:</label>
          <span>{{subscription.type}}</span>
        </mat-list-item>
        <mat-list-item  class="list-item">
          <label> Début:</label>
          <!-- <span>{{subscription.datestartsub | date:'dd/MM/YYYY'}}</span> -->
          <span>{{subscription.datestartsub}}</span>
        </mat-list-item>
        <mat-list-item  class="list-item">
          <label>Fin:</label>
          <!-- <span>{{subscription.dateendsub | date:'dd/MM/YYYY'}}</span> -->
          <span>{{subscription.dateendsub}}</span>
        </mat-list-item>
        <mat-list-item  class="list-item">
          <label>Statut:</label>
          <span>{{status()}}</span>
        </mat-list-item>
      </mat-list>
      <div *ngIf="user.data.admin">
        <span class="p-buttonset">
          <button pButton type="button" class="p-button-secondary" label="Activer" icon="pi pi-check"
            (click)="activer()"
            [disabled]="!isNotExpired() || subscription.actif"></button>
          <button pButton type="button" class="p-button-secondary" label="Desactiver" icon="pi pi-times"
            (click)="desactiver()"
            [disabled]="!isNotExpired() || !subscription.actif"></button>
          <button pButton
            class="p-button-secondary"
            type="button" label="Reactiver" icon="pi pi-unlock"
            (click)="reactiver()"
            [disabled]="isNotExpired()"></button>
        </span>
      </div>
    </div>
  </fieldset>
</div>

