<div>
  <div>
    <h2 style="font-weight:bold">{{title}}</h2>
  </div>
  <fieldset [ngSwitch]="clinique_user_gestion.mode">
    <legend><h3>Clinique d'affectation</h3></legend>

    <div class="content-set" *ngSwitchCase="'consultation'">
        <home-clinique-consult
          (ope)="getMode($event)"
          [enable_allowed]="user.admin"
          [clinique]="clinique_user_gestion.model">
        </home-clinique-consult>

    </div>
    <div class="content-set" *ngSwitchCase="'modification'">
      <home-clinique-modif
        (ope)="getMode($event)"
        [enable_allowed]="user.admin"
        [clinique]="clinique_user_gestion.model">
      </home-clinique-modif>

    </div>
    <div class="content-set" *ngSwitchDefault>
      <home-clinique-consult
          (ope)="getMode($event)"
          [enable_allowed]="user.admin"
          [clinique]="clinique_user_gestion.model">
        </home-clinique-consult>
    </div>
  </fieldset>

  <fieldset *ngIf="cliniquesGestion && cliniquesGestion.length > 0;else NoAutre">
    <legend><h3>Autres cliniques</h3></legend>
    <div class="content-set" *ngFor="let clinique of cliniquesGestion; index as i" id="i">
      <ng-container [ngSwitch]="clinique.mode">
        <home-clinique-consult
          *ngSwitchCase="'consultation'"
          [enable_allowed]="user.admin"
          (ope)="getMode2($event, i)"
          [clinique]="clinique.model">
        </home-clinique-consult>
    <!-- <div *ngSwitchCase="'modification'"> -->
        <home-clinique-modif
          *ngSwitchCase="'modification'"
          [enable_allowed]="user.admin"
          (ope)="getMode2($event, i)"
          [clinique]="clinique.model">
        </home-clinique-modif>
      <!-- </div> -->
        <home-clinique-consult
          (ope)="getMode2($event, i)"
          [enable_allowed]="user.admin"
          [clinique]="clinique.model"
          *ngSwitchDefault>
        </home-clinique-consult>
      </ng-container>
    </div>
  </fieldset>
  <ng-template #NoAutre>
    <fieldset>
      <legend><h3>Autres cliniques</h3></legend>
      <div>
        <h2>Aucun autre cliniques n'est disponible.</h2>
      </div>
    </fieldset>

  </ng-template>
</div>
