<div class="clinique-modif">
  <div class="modif-block-btn">
    <div>
      <button mat-button class="primary-color-btn"
      (click)="launch('consultation')">Consultation</button>
    </div>
    <div>
      <button mat-button *ngIf="!enable_allowed; else Allowed"
      class="primary-color-btn"
      disabled>Supression</button>
    </div>
    <ng-template #Allowed>
      <!-- <div> -->
        <button mat-button class="primary-color-btn"
        (click)="deleteAction()">Supression</button>
      <!-- </div> -->
    </ng-template>
  </div><br>

  <div style="background-color: white;display: flow-root; padding-left:20px">
    <div class="modif-block-cli">
      <div style="display:flex; flex-direction:column;gap: 5px 5px">
        <mat-form-field appearance="fill">
          <mat-label>Telephone</mat-label>
          <input matInput [(ngModel)]="new_clinique.tel">
        </mat-form-field>
        <button mat-button
        class="secondary-color-btn"
        style="align-self:flex-end; flex-basis:auto;"
        (click)="sendTel()" [disabled]="new_clinique.tel === clinique.tel">Modifier</button>
      </div>
      <div style="margin-right:2%;width:100%;">
        <p-fieldset legend="Adresse" [toggleable]="true">
          <div class="field">
            <div class="p-input-filled">
              <label for="voie">Voie</label>
              <input id="voie" type="text" class="p-inputtext-sm"
              pInputText [(ngModel)]="adresseGet.voie" />
            </div>
            <div class="p-input-filled">
              <label for="nvoie">Nom de voie</label>
              <input id="nvoie" type="text" class="p-inputtext-sm"
              pInputText [(ngModel)]="adresseGet.nomVoie" required/>
            </div>
            <div class="p-input-outlined">
              <label for="complement">Complément</label>
              <input id="complement" type="text" class="p-inputtext-sm"
              pInputText [(ngModel)]="adresseGet.complement"/>
            </div>
            <div class="p-input-filled">
              <label for="cpostal">Code postale</label>
              <input id="cpostal" type="text" class="p-inputtext-sm"
              pInputText [(ngModel)]="adresseGet.codePostal" />
            </div>
            <div class="p-input-filled">
              <label for="ville">Ville</label>
              <input id="ville" type="text" class="p-inputtext-sm"
              pInputText [(ngModel)]="adresseGet.ville" />
            </div>
            <div>
              <button mat-button
              class="secondary-color-btn"
              style="align-self:flex-end; flex-basis:auto;"
              (click)="sendAdresse()" [disabled]="!adresseChanged()">Modifier</button>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div style="margin-right:2%;width:100%;">
        <p-fieldset legend="Disponibilité" [toggleable]="true" styleClass="field" >
          <div *ngIf="availableDays && availableDays.length > 0;else NoChipDispo" style="display:flex;flex-direction:row;flex-wrap:wrap; gap:12px 12px;">
            <div *ngFor="let day of availableDays">
              <div>
                <p-chip pDraggable="days" (onDragStart)="dragStart(day)" (onDragEnd)="dragEnd()" [label]="day"

                  placeholder="Déplacer les jours de semaine ici pour"></p-chip>
              </div>
            </div>
          </div>
          <ng-template #NoChipDispo>
            <div>
              <h3>Tous les jours sont consommés.</h3>
            </div>
          </ng-template>

          <div style="display:flow-root;">
            <div>
              <span>Choisir jour(s) dispo: </span>
              <p-chips  pDroppable="days" (onDrop)="drop($event)" [(ngModel)]="dispoInput.day"  [allowDuplicate]="false" [max]="availableDays.length"
              (onRemove)="getremoval($event)"  (onAdd)="update(dispoInput.day[dispoInput.day.length-1])">
                <!-- <ng-template let-day pTemplate="day">
                  {{day}}
                </ng-template> -->
              </p-chips>
            </div><br>
            <div>
              <span>Choisir une plage horaire: </span>
              <p-inputMask mask="99:99" [(ngModel)]="dispoInput.hDebut" placeholder="06:00"></p-inputMask>
              <p-inputMask mask="99:99" [(ngModel)]="dispoInput.hFin" placeholder="17:45"></p-inputMask>
            </div>
            <div>
              <button mat-mini-fab color="primary" (click)="input()">
                <mat-icon>add</mat-icon>
              </button>
            </div><br>
            <div *ngIf="dispos && dispos.dispos.length > 0">
              <h4>Disponibilités</h4>
              <p-table [value]="dispos.dispos" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Jours d'ouverture</th>
                        <th>Horaires </th>
                        <th>Retirer l'option</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dispoItem>
                    <tr>
                        <td>{{dispoItem.day.length>1?dispoItem.day.join(', '):dispoItem.day}}</td>
                        <td>{{dispoItem.hDebut}} à {{dispoItem.hFin}}</td>
                        <td>
                          <div>
                            <button mat-mini-fab color="warn" (click)="reduce(dispoItem)">
                              <mat-icon>remove</mat-icon>
                            </button>
                          </div>
                        </td>
                    </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div>
            <button mat-button
              class="secondary-color-btn"
              style="align-self:flex-end; flex-basis:auto;"
              (click)="sendDispo()" [disabled]="!dispoChanged()">Modifier</button>
          </div>


        </p-fieldset>
      </div>
    </div>

    <!-- <div style="display:flex;flex-direction:row;justify-content:space-around;flex-wrap:wrap;gap:20px 10px;width: max-content;margin-top:2%"> -->
      <!-- <button mat-button color="grey"
        class="secondary-color-btn"
        style="align-self:flex-start;flex-basis:auto;"
        (click)="reset()">Effacer</button> -->
    <!-- </div> -->
  </div>

</div>
