.collab-modif{
  width: auto;
  margin: 0% 0% 4% 8%;
  padding-right: 3%;
}

.modif-block-identity
{
  display:flex;
  align-items:start;
  align-self: flex-end;
  gap:10px 10px;
  flex-wrap: wrap;
}
