<mat-card *ngIf="clinique" class="clinique-consult" >
  <!-- <mat-card-header
  style="display:flex;flex-direction:row;justify-content:center;flex-wrap:wrap;gap:10px 30px;">
  <mat-card-subtitle>
    <i>{{ enable_allowed?'(Administateur)':'(Utilisateur)'}}</i></mat-card-subtitle>
  </mat-card-header> -->
  <mat-list style="margin-bottom:4%;">
    <mat-list-item>
      <mat-icon matListIcon>pin_drop</mat-icon>
      <h4 matLine><b><i>{{clinique.adresse}}</i></b></h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>call</mat-icon>
      <h4 matLine><i>{{clinique.tel}}</i></h4>
    </mat-list-item>
  </mat-list>

  <div  style="margin-left:15px;padding-bottom:1%;">
    <span style="display:flex;flex-direction:row;column-gap:20px;">
      <mat-icon>view_agenda</mat-icon>
      <h4><u>Disponiblite:</u></h4>
    </span>

    <p-table [value]="diponibilites" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Jours d'ouverture</th>
          <th>Horaires</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dispoItem>
        <tr>
          <td>{{dispoItem.day.length>1?dispoItem.day.join(', '):dispoItem.day}}</td>
          <td>{{dispoItem.hDebut}} à {{dispoItem.hFin}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <mat-divider inset></mat-divider>
  <mat-card-actions *ngIf="!enable_allowed"
    style="display:flex;flex-direction:row;justify-content:space-around;flex-wrap:wrap;gap:20px 10px;width: max-content;">
    <button mat-button class="primary-color-btn"
      style="align-self:flex-start;"
      (click)="launch('modification')">Modification</button>
    <button mat-button
      style="align-self:flex-end;"
      class="primary-color-btn" (click)="deleteAction()">Suppression</button>
  </mat-card-actions>
  <!-- <ng-template #Allowed>
    <mat-card-actions
      style="display:flex;flex-direction:row;justify-content:space-around;flex-wrap:wrap;gap:20px 10px;width: max-content;">
      <button mat-button class="primary-color-btn"
        style="align-self:flex-start;"
        (click)="launch('modification')">Modification</button>
      <button mat-button
      style="align-self:flex-end;"
      class="primary-color-btn"
        ">Suppression</button>
    </mat-card-actions>
  </ng-template> -->
</mat-card>
