
<mat-toolbar color="primary" style="background-color:grey">
  <mat-toolbar-row>
    <h1>{{titre}}</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <h3 style="text-align:center;margin-left:40%;">Espace professionnel</h3>
  </mat-toolbar-row>
  <mat-toolbar-row style="border: 1px solid white">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu btn">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="redirectTo('INSCRIPTION')">
        <mat-icon>dialpad</mat-icon>
        <span>Creer son compte</span>
      </button>
      <button mat-menu-item (click)="redirectTo('CONNETION')">
        <mat-icon>voicemail</mat-icon>
        <span>Se connecter à son organisation</span>
      </button>
      <button mat-menu-item (click)="redirectTo('HOME')">
        <mat-icon>notifications_on</mat-icon>
        <span>Accueil</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
