<mat-card *ngIf="user" class="collab-consult" >
  <mat-card-header>
    <mat-card-title>
      <b>{{user.nom}}  {{user.prenom}}</b>
    </mat-card-title>
    <mat-card-subtitle>
      {{user.fonction}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="margin-left:10px">
    Role: {{ user.admin?'Administateur':'Utilisateur'}}<br>
    Email: {{ user.emailPro }}
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-button class="primary-color-btn"
      (click)="launch('modification')">Modification</button>
    <button mat-button class="primary-color-btn"
      (click)="launch('supression')">Supression</button>
  </mat-card-actions>
</mat-card>
