<mat-card *ngIf="user" class="collab-consult" >
  <mat-card-header
  style="display:flex;flex-direction:row;justify-content:center;flex-wrap:wrap;gap:10px 30px;">
    <div>
      <mat-card-title>
        <b>{{user.nom}}  {{user.prenom}}</b>
      </mat-card-title>
      <mat-card-subtitle>
        {{user.fonction}}
      </mat-card-subtitle>
    </div>
    <div>
      Compte: {{ user.emailPro }}
    </div>
    <div>
      <i>{{ user.admin?'(Administateur)':'(Utilisateur)'}}</i>
    </div>
  </mat-card-header>
  <mat-divider inset></mat-divider>
  <mat-card-actions
    style="display:flex;flex-direction:row;justify-content:space-around;flex-wrap:wrap;gap:20px 10px;width: max-content;">
    <button mat-button class="primary-color-btn"
      style="align-self:flex-start;"
      (click)="launch('modification')"
      [disabled]="!enable_allowed">Modification</button>
    <button mat-button
    style="align-self:flex-end;"
    class="primary-color-btn"
      (click)="launch('supression')"
      [disabled]="!enable_allowed">Supression</button>
  </mat-card-actions>
  <!-- <ng-template #Allowed>
    <mat-card-actions
      style="display:flex;flex-direction:row;justify-content:space-around;flex-wrap:wrap;gap:20px 10px;width: max-content;">
      <button mat-button class="primary-color-btn"
        style="align-self:flex-start;">Modification</button>
      <button mat-button
      style="align-self:flex-end;"
      class="primary-color-btn">Supression</button>
    </mat-card-actions>
  </ng-template> -->
</mat-card>
