fieldset {
  border:1px solid black;
  margin: 2rem  15% 1rem 0rem;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 2%;
  height: auto;
}

.content-set {
  box-shadow: 1px 1px 7px 1px;
  margin: 12px 10px 20px 25px;
  background-color: white;
}
