<div>
  <div>
    <h2 style="font-weight:bold">{{title}}</h2>
  </div>
  <fieldset [ngSwitch]="user_mode">
    <legend><h3>Votre identité</h3></legend>
    <div class="content-set" *ngSwitchCase="'consultation'">
        <home-collaborateur-consult
          [enable_allowed]="user.admin"
          [adminIsUser]="true"
          (ope)="getMode($event)"
          [user]="user">
        </home-collaborateur-consult>
    </div>
    <div  class="content-set" *ngSwitchCase="'modification'">
      <home-collaborateur-modif
        [enable_allowed]="user.admin"
        [adminIsUser]="true"
        (ope)="getMode($event)"
        [collaborateur]="user">
      </home-collaborateur-modif>
    </div>
    <div  class="content-set" *ngSwitchDefault>
      <home-collaborateur-consult
      [enable_allowed]="user.admin"
      [adminIsUser]="true"
        (ope)="getMode($event)"
        [user]="user">
      </home-collaborateur-consult>
    </div>
  </fieldset>

  <fieldset *ngIf="collabsGestion && collabsGestion.length > 0;else NoAutre">
    <legend><h3>Autres collaborateurs</h3></legend>
    <div class="content-set" class="content-set" *ngFor="let collab of collabsGestion; index as i">
      <ng-container [ngSwitch]="collab.mode">
        <home-collaborateur-consult
          *ngSwitchCase="'consultation'"
          [enable_allowed]="user.admin"
          (ope)="getMode2($event, i)"
          [user]="collab.model">
        </home-collaborateur-consult>
        <home-collaborateur-modif
          *ngSwitchCase="'modification'"
          [enable_allowed]="user.admin"
          (ope)="getMode2($event, i)"
          [collaborateur]="collab.model">
        </home-collaborateur-modif>
        <home-collaborateur-consult
          [enable_allowed]="user.admin"
          (ope)="getMode2($event, i)"
          [user]="collab.model"
          *ngSwitchDefault>
        </home-collaborateur-consult>
      </ng-container>
    </div>
  </fieldset>
  <ng-template #NoAutre>
    <fieldset>
      <legend><h3>Autres collaborateurs</h3></legend>
      <div>
        <h2>Aucun autre collaborateur n'est disponible.</h2>
      </div>
    </fieldset>

  </ng-template>
</div>
