.content-sub {
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
.step {
  margin-left: 10%;
}

fieldset {
  border:1px solid black;
  margin: 2rem  15% 1rem 0rem;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 2%;
}


