/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-txt {
  color: red;
}

.primary-color-btn{background-color: antiquewhite};
.secondary-color-btn{background-color: rgb(203, 207, 207); color:black};
